@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    background-color: #134059;
}

.menu-tab, .home-tab, .contact-tab {
    width: 100px;
    height: 10vh;
    background-color: #134059;
    border-style: none;
    color: whitesmoke;
    font-size: 1em;
}

.menu-tab:hover, .home-tab:hover, .contact-tab:hover {
    background-color:#1d6891;
}

.main {
    position: relative;
    width: 100%
}

.main-img {
    background: url('./background.png');
    width: 100vw;
    height: 80vh;
    position: absolute;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .footer {
    height: 10vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: absolute;
    top: 90%; 
    background-color: #134059;
}

.card-body {
    position: relative;
    width: 75vw;
    height: 70vh;
    background: rgb(231, 176, 93);
    border-radius: 20px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}


.image {
    background: url('./imagen.png') no-repeat;
    width: 33vw;
    height: 80vh;
    margin-left: auto;
}

.logo {
    background: url('./logo.png') no-repeat;
    width: 140px;
    height: 140px;
    margin: 20px;
    position: absolute;
    top: 1%; 
}

.decor {
    background: url('./decor.png') no-repeat;
    position: absolute;
    width: 20vw;
    height: 20vh;
    top: 70%; 
    left: 5%;
}

.quote {
    color: white; 
    font-size: 3rem;
    position: absolute;
    top: 30%; 
    left: 2%; 
    line-height: 10px;
}

.decor2 {
    background: url('./decor2.png') no-repeat;
    position: absolute;
    width: 20vw;
    height: 20vh;
    top: 1%; 
    left: 45%;
}


