@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}


.container {
    height: 100%;
    background-color: #134059;
}

.menu-tab, .home-tab, .contact-tab {
    width: 100px;
    height: 10vh;
    background-color: #134059;
    border-style: none;
    color: whitesmoke;
    font-size: 1em;
}

.about-tab {
    width: 170px;
    height: 10vh;
    background-color: #134059;
    border-style: none;
    color: whitesmoke;
    font-size: 1em;
}

.menu-tab:hover, .home-tab:hover, .contact-tab:hover, .about-tab:hover {
    background-color:#1d6891;
}

.main {
    position: relative;
    width: 100%
}

.main-img {
    background: url('./background.png');
    width: 100vw;
    height: 80vh;
    position: absolute;
    z-index: -1;
    background-size: 100% 100%;
      
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .footer {
    height: 10vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: absolute;
    top: 90%; 
    background-color: #134059;

    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

.card-body {
    position: relative;
    width: 75vw;
    height: 70vh;
    background: rgb(233, 173, 84);
    border-radius: 20px; 
}

.image {
    background: url('./image.png') no-repeat;
    width: 33vw;
    height: 80vh;
    margin-left: auto;
}

.logo {
    background: url('./logo.png') no-repeat;
    width: 140px;
    height: 140px;
    margin: 20px;
    position: absolute;
    top: 1%; 
    background-size: 100% 100%;
}

.quote {
    font-family: 'Montserrat', sans-serif;
    white-space: pre-line;
    color: white; 
    font-size: 3rem;
    position: absolute;
    top: 30%; 
    left: 2%; 
}


.title-menu {
    background: url('./menu.png') no-repeat;
    position: absolute;
    width: 32vw;
    height: 10vh;
    top: 8%;
    left: 50%; 
    background-size: 100% 100%;
}

.title-contact {
    background: url('./contact.png') no-repeat;
    position: absolute;
    width: 32vw;
    height: 10vh;
    top: 8%;
    left: 50%; 
    background-size: 100% 100%;

}

.title-about {
    background: url('./about.png') no-repeat;
    position: absolute;
    width: 32vw;
    height: 10vh;
    top: 8%;
    left: 50%; 
    background-size: 100% 100%;
}

.menu-card, .card-contact {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 65vh;
    gap: 40px;
}

.card-content, .card-content2 {
    color: white;
    background: #134059;
    border-radius: 10px;
    width: 30vw;
    height: auto;
}

.card-title, .hours-title {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 15px;
}

.card-menu, .card-menu2{
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

.hours, .tel {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    color: #134059;
    width: 25vw;
    height: 43vh;
    font-size: 1.3rem;
}

.about-content {
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card-about {
    font-family: 'Montserrat', sans-serif;
    background: #134059;
    border-radius: 10px;
    width: 60vw;
    height: 30vh;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
    font-size: 2rem;  
}

.tel-n{
    padding-top: 40px;
}

.hp2 {
    padding-bottom: 30px;
}

@media only screen and (max-width: 800px) {
    .quote {
        white-space: pre-line;
        font-size: 2.5rem;
    }

    .image {
        background-size: 100% 100%;
    }

    .card-title, .hours-title {
        font-size: 1rem;
    }

    .hours, .tel {
        margin: 10px;
        height: 43vh;
        font-size: 1rem;
        white-space: pre-line;
    }

    .card-menu {
        font-size: 0.6rem;
    }

    .card-content, .card-content2 {
        height: 45vh;
        width: 65vw; 
    }

    .about-content {
        width: 80vw;
        height: 65vh; 
    }
    
    .card-about {
        width: 60vw;
        height: 40vh;
    
        padding: 15px;
        font-size: 1.5rem;  
    }
    
    .copyright {
        font-size: 8px;
    }
    

}